
.cent{
	margin: 0px auto;
	width: 780px;
    background-color:#5da6eb ;
}


.auto-cent{
    margin: 10px auto;
    text-align: center;
    display: block;
}


body,div,ul,li,img,span{
    margin:0px;
    padding:0px;
}
/**
 *  导航图片
 */
.banner{
	height: 150px;
}

/**
 *  导航
 */
.nav-topbar {
    height: 30px;
    list-style: none;
    font-size:14px;
    line-height:33px;
}
.nav-topbar li {
    float: left;
    min-width: 78px;
    text-align: center;
    list-style-type:none;
    text-decoration: underline;
    color: #2285c6;
    background-image: url("../images/button1.jpg");
    font-weight: bold;
    cursor: default;
    /*-moz-user-select:none;*/
}

.nav-topbar li:active {
    background-image: url("../images/button1_bg.jpg");
    color: white;
}
/**
 *  主体左
 */
.content_left{
    float: left;
    width: 190px;
    height: 500px;
}

.bgcolor{
    background-color:#5da6eb ;
}

.weather-bg{
    cursor: pointer;
    display: block;
    width: 190px;
    height: 50px;
    background-image: url("../images/weather.jpg");
    text-align: center;
    line-height: 50px;
    font-weight:bold;
}

.li-style{
    font-size: 12px;
    line-height:20px;
    font-family: arial;
    padding-left: 2px;
    margin-left: 5px;
}

.sel-detail{
    color: white;
    list-style:none;
    padding-left: 10px;
}

.weather-detail {
    color: white;
    list-style:url("../images/icon1.gif") none inside;
}

.today-sel{
    padding-bottom: 5px;
}

.arrow{
    margin: 2px;
}

.sel-title{
    line-height: 30px;
    font-size: 14px;
    font-weight:bold;
    padding-left: 10px;
    background-color: #bbddff;
    cursor: pointer;
}

.text-label{
    font-size: 14px;
    color: white;
    font-family: 楷体;
    line-height: 10px;
}

/**
 *  主体中
 */
.content_mid{
    float: left;
    background-color:white ;
    padding:5px;
}

.content_mid div div img{
    width: 22%;
}

.route{
    color: #00688b;
    list-style:url("../images/icon1.gif") none inside;
}


/**
 *  主体右
 */
.content_right{
    float: right;
    width: 190px;
    height: 500px;
}

hr{
    height:2px;
    border:none;
    margin-right: 10px;
    border-top:1px dashed white;
}

ul li a{
    color: white;
    text-decoration: none;
}
ul li a:active{
    color: red;
}
ul li a:visited{
    color: grey;
}
/**
 *  脚部
 */
.footer {
    clear: both;
    padding-top:5px;
    text-align:center;
}
